<h2 class="h5 font-weight-bold">
  Property types
</h2>
<ul id="property-types-list">
  <li>
      <button
        class="btn btn-link {{if allActive "active"}}"
        {{action "onChangeTypeSelection" "all"}}
      >
        All
      </button>
  </li>
  {{#each propertyTypes as |propertyType|}}
    <li>
      <button
        class="btn btn-link {{if propertyType.checked "active"}}"
        {{action "onChangeTypeSelection" propertyType}}
      >
        {{propertyType.label}}
      </button>
    </li>
  {{/each}}
</ul>
